body{
	background-color: #66ffcc;
}

p{
	font-family:"Courier New";
}

#main_box{
	display:flex;
	width: 30%;
	height:90%;
	background-color:#ff944d;
	margin-top:2%;
	margin-left:33%;
	border-radius:10px;
	position: absolute;
	color:#ff6666;
}

input[type=text] {
  width: 180%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius:10px;
  color:#ff4d4d;
}

input[type=text]:focus {
  background-color:  #ff99cc;
}

#button{
  margin-left:40%;
  margin-top:120%;
  color:white;
  background-color: #6699ff;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  position:absolute;
  border:none;
  cursor: pointer;
}

#drop{
  width: 180%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius:10px;
  color:#ff4d4d;
}